In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("hotel_booking.csv")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,9/6/2017,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,9/7/2017,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,9/7/2017,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,9/7/2017,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,9/7/2017,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [4]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [5]:
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,9/6/2017,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,9/7/2017,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,9/7/2017,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,9/7/2017,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,9/7/2017,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [6]:
df.shape

(119390, 36)

In [7]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [9]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
name                               object
email                              object
phone-number                       object
credit_card                        object
dtype: object

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [11]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [12]:
cnt=0
column=''
for i in df:
    tem=df[i].isnull().sum()
    if tem > cnt:
        cnt=tem
        column=i
        print(column,cnt)

children 4
country 488
agent 16340
company 112593

In [13]:
df["children"].fillna(0,inplace=True) #children null values fill to 0
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,9/6/2017,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,9/7/2017,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,9/7/2017,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,9/7/2017,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,9/7/2017,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [14]:
df["agent"].fillna(0,inplace=True) #agent null values fill to 0
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,9/6/2017,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,9/7/2017,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,9/7/2017,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,9/7/2017,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,9/7/2017,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [15]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                                  0
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [16]:
df.hotel.unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [17]:
df.hotel.value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

In [18]:
print(df.groupby("hotel").sum().adr)  #sum of adr of hotel

hotel
City Hotel      8353803.24
Resort Hotel    3803814.36
Name: adr, dtype: float64

In [19]:
print(df.groupby("hotel").mean().adr)
print(df.groupby("hotel").median().adr)

hotel
City Hotel      105.304465
Resort Hotel     94.952930
Name: adr, dtype: float64
hotel
City Hotel      99.9
Resort Hotel    75.0
Name: adr, dtype: float64

In [20]:
df["is_canceled"].value_counts()  #is_canceled Value indicating if the booking was canceled (1) or not (0)

0    75166
1    44224
Name: is_canceled, dtype: int64

In [21]:
df[["customer_type"]][df["is_canceled"]==0] # not canceled customer

       customer_type
0          Transient
1          Transient
2          Transient
3          Transient
4          Transient
...              ...
119385     Transient
119386     Transient
119387     Transient
119388     Transient
119389     Transient

[75166 rows x 1 columns]

In [22]:
df[["customer_type"]][df["is_canceled"]==1] # booking canceled customer

       customer_type
8          Transient
9          Transient
10         Transient
27         Transient
32         Transient
...              ...
110280     Transient
111355     Transient
111924     Transient
111925     Transient
117295     Transient

[44224 rows x 1 columns]

In [23]:
f=df[df["is_canceled"]==1]     # name and email which canceled booking
f[['name',"email","phone-number"]]

                         name                          email  phone-number
8               Steven Murphy        Steven.Murphy54@aol.com  341-726-5787
9               Michael Moore     MichaelMoore81@outlook.com  316-648-6176
10      Priscilla Collins PhD        PhD.Priscilla74@att.com  833-887-7898
27                Jaime Flynn         JaimeFlynn29@gmail.com  549-866-3721
32        Reginald Cunningham       Reginald_C57@outlook.com  800-249-2144
...                       ...                            ...           ...
110280            Robert Webb            RobertWebb@mail.com  517-253-9863
111355           Jill Chapman       Jill_Chapman@hotmail.com  946-165-9749
111924          Joseph Snyder       Snyder.Joseph@yandex.com  887-156-4050
111925              Lisa Berg           Lisa_Berg@yandex.com  348-997-3814
117295        Russell Bennett  Russell.Bennett76@hotmail.com  117-040-1415

[44224 rows x 3 columns]

In [24]:
df.total_of_special_requests.value_counts()

0    70318
1    33226
2    12969
3     2497
4      340
5       40
Name: total_of_special_requests, dtype: int64

In [25]:
t=df[df["total_of_special_requests"]==5]     
t[['name',"email",'phone-number']]

                          name                          email  phone-number
7860             Amanda Harper           Amanda.H66@yahoo.com  864-257-9807
11125            Laura Sanders      Sanders_Laura@hotmail.com  120-754-3942
14596              Tommy Ortiz            Tommy_O@hotmail.com  377-098-5937
14921           Gilbert Miller         Miller.Gilbert@aol.com  806-574-2045
14922           Timothy Torres         TTorres@protonmail.com  422-113-4918
24630          Jennifer Weaver             Jennifer_W@aol.com  341-150-8437
27288           Crystal Horton             Crystal.H@mail.com  736-187-2543
27477           Brittney Burke       Burke_Brittney16@att.com  825-860-3212
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com  280-973-9357
29949              Sarah Floyd              Sarah_F@gmail.com  100-586-7149
32267           Michelle Villa         Michelle.Villa@aol.com  494-968-0905
39027           Nichole Hebert       Hebert.Nichole@gmail.com  474-796-1175
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com  342-438-6097
39525           Ashley Edwards       Edwards.Ashley@yahoo.com  626-492-1882
70114       Christopher Torres   Torres.Christopher@gmail.com  860-988-0351
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com  988-952-5135
78820           Michaela Brown          MichaelaBrown@att.com  548-026-5186
78822        Kurt Maldonado MD              KMD15@xfinity.com  596-909-0721
97072         Jason Richardson               Jason.R@zoho.com  723-140-0567
97099             Terri Hurley            THurley@xfinity.com  942-403-4963
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net  428-370-6078
98410             Holly Arroyo          Arroyo_Holly@mail.com  552-014-6735
98674          Denise Campbell             Denise_C@gmail.com  611-914-5212
99887            Michael Smith            Michael.S42@aol.com  543-085-3867
99888       Dr. Trevor Sellers                  Dr._S@aol.com  365-005-8392
101569            Kayla Murphy         Kayla.Murphy@yahoo.com  645-326-3016
102061         Taylor Martinez    Taylor.Martinez@hotmail.com  290-360-7041
109511          Charles Wilson       Charles_Wilson@yahoo.com  469-999-0942
109590           Tyler Allison         Tyler.A@protonmail.com  685-168-8139
110082          Matthew Bailey         Matthew_Bailey@aol.com  285-274-5663
110083       Charlotte Acevedo        Charlotte_A@verizon.com  345-877-4448
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com  739-153-3639
111911          Melinda Jensen         MelindaJensen@zoho.com  129-892-8585
113915            Terry Arnold          Arnold.Terry@zoho.com  923-765-3627
114770             Mary Nguyen     Nguyen.Mary@protonmail.com  557-683-4481
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com  741-276-6171
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com  713-506-8850
116457          Angela Hawkins             Angela_H@gmail.com  198-157-4544
118817              Sue Lawson            Sue.L52@comcast.net  287-649-4214
119161         Alyssa Richards        Alyssa_Richards@aol.com  737-736-4293

In [26]:
t=df[df["total_of_special_requests"]==4]     # name and email which canceled booking
t[['name',"email",'phone-number']]

                      name                           email  phone-number
862             John Wyatt              John.Wyatt@att.com  722-068-9547
875               Amy Cole             Amy_C24@verizon.com  292-723-7982
928     Alexandria Lindsey  Lindsey_Alexandria14@gmail.com  648-279-8407
937       Jessica Anderson    Anderson.Jessica@outlook.com  297-735-3046
1311         Darlene Smith         Darlene_Smith96@att.com  133-149-2117
...                    ...                             ...           ...
119248        Tammy Hughes             Tammy_H@outlook.com  992-779-1181
119290       Matthew Wyatt       Wyatt.Matthew37@gmail.com  172-705-7652
119291        Keith Hunter        Keith_Hunter@xfinity.com  961-034-5781
119334         Brent Hines              Brent.H81@zoho.com  713-077-3942
119387        Mary Morales        Mary_Morales@hotmail.com  395-518-4100

[340 rows x 3 columns]

In [27]:
df.arrival_date_year.unique()

array([2015, 2016, 2017])

In [28]:
df.adults.unique ()

array([ 2,  1,  3,  4, 40, 26, 50, 27, 55,  0, 20,  6,  5, 10])

In [29]:
df[["adults","children","babies"]].sum()

adults      221636.0
children     12403.0
babies         949.0
dtype: float64

In [30]:
df['total_person']=df.apply(lambda x : x['adults'] +  x['children'] + x['babies'], axis=1)

In [31]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_person
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,2.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,2.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,98.0,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2.0

In [32]:
df.total_person.sum()

234988.0

In [33]:
df.total_person.sum()/119390*100

196.8238545941871

In [34]:
df.customer_type.unique ()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [35]:
df.customer_type.value_counts()

Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64

In [36]:
df.country.value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: country, Length: 177, dtype: int64

In [37]:
df.groupby([df["name"]])["adr"].agg(["max"])

                    max
name
Aaron Acevedo    152.10
Aaron Acosta     115.00
Aaron Adams      236.10
Aaron Aguilar     86.00
Aaron Alexander  171.33
...                 ...
Zoe Rivera        74.00
Zoe Sanders PhD   75.00
Zoe Simpson       69.53
Zoe Stephenson    65.00
Zoe Wu           140.00

[81503 rows x 1 columns]

In [38]:
# df.adr.max()
c=df['adr'].idxmax()
df.loc[c,['name','adr']]

name    Daniel Walter
adr            5400.0
Name: 48515, dtype: object

In [39]:
# df.adr.min()
c=df['adr'].idxmin()
df.loc[c,['name','adr']]

name    Chase Santos
adr            -6.38
Name: 14969, dtype: object

In [40]:
df.deposit_type.unique ()

array(['No Deposit', 'Refundable', 'Non Refund'], dtype=object)

In [41]:
df[["adr","name","phone-number"]][df["deposit_type"]=='Refundable']

          adr              name  phone-number
1559    128.0  Anthony Anderson  187-519-5797
4737     66.0    Teresa Johnson  625-890-3636
4738     66.0        Amy Barker  927-294-0727
4739     66.0      Justin Flynn  409-842-9802
4740     66.0       Donald West  436-069-1944
...       ...               ...           ...
79652    85.0     Casey Frazier  792-574-9622
79980    63.0       Erin Barker  605-363-5117
85497    85.5   Benjamin Bishop  367-289-5054
85498    85.5       Andrea Hill  886-054-2285
110609   77.0    Russell Morris  572-216-5512

[162 rows x 3 columns]

In [42]:
df[["adr","name","phone-number"]][df["deposit_type"]=='Non Refund']

           adr              name  phone-number
2133     36.05   David Henderson  305-381-5723
2134     36.05   Nicole Thompson  705-801-6599
2135     36.05      Terry Pierce  608-202-2321
2136     36.05    James Martinez  350-812-6928
2141     36.05       Joseph Byrd  781-432-4821
...        ...               ...           ...
95424   106.00    Michael Gordon  822-478-8086
95936   106.00  Joshua Robertson  848-760-6442
96193    72.25     Julia Dickson  239-701-5198
96232    83.83      Jason Jensen  713-286-9416
102072   75.00     Emily Johnson  387-265-2812

[14587 rows x 3 columns]

In [43]:
df[["adr","name","phone-number"]][df["deposit_type"]=='No Deposit']

           adr                name  phone-number
0         0.00       Ernest Barnes  669-792-1661
1         0.00        Andrea Baker  858-637-6955
2        75.00      Rebecca Parker  652-885-2745
3        75.00        Laura Murray  364-656-8427
4        98.00         Linda Hines  713-226-5883
...        ...                 ...           ...
119385   96.14     Claudia Johnson  403-092-5582
119386  225.43      Wesley Aguilar  238-763-0612
119387  157.71        Mary Morales  395-518-4100
119388  104.40  Caroline Conley MD  531-528-1017
119389  151.20      Ariana Michael  422-804-6403

[104641 rows x 3 columns]

In [44]:
print(df.groupby("arrival_date_year").max().adr)

arrival_date_year
2015     508.0
2016    5400.0
2017     510.0
Name: adr, dtype: float64

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  """Entry point for launching an IPython kernel.

In [45]:
df.adr.sum()

12157617.599999998

In [46]:
round(df['adr'].mean(),2)  #average daily rate

101.83

In [47]:
print(df.groupby("arrival_date_year").sum().adr)

arrival_date_year
2015    1917578.62
2016    5575764.71
2017    4664274.27
Name: adr, dtype: float64

In [48]:
df.is_repeated_guest.sum()

3810

In [49]:

print(df.groupby("hotel").sum().is_repeated_guest)  #repeated guest sum according to hotel

hotel
City Hotel      2032
Resort Hotel    1778
Name: is_repeated_guest, dtype: int64

In [50]:
df.assigned_room_type.unique()

array(['C', 'A', 'D', 'E', 'G', 'F', 'I', 'B', 'H', 'P', 'L', 'K'],
      dtype=object)

In [51]:
df.assigned_room_type.value_counts()

A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64

In [52]:
df['total_week_weekend']=df.apply(lambda x : x['stays_in_week_nights'] +  x['stays_in_weekend_nights'], axis=1)

In [53]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_person,total_week_weekend
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,7/1/2015,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,2.0,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,7/1/2015,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,2.0,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,7/2/2015,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1.0,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,7/2/2015,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1.0,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,7/3/2015,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2.0,2

In [54]:
df.total_week_weekend.sum()

409257

In [55]:
df.groupby("total_week_weekend") ["adr"].agg(["count"])

                    count
total_week_weekend
0                     715
1                   21020
2                   27643
3                   27076
4                   17383
5                    7784
6                    3857
7                    8655
8                    1161
9                     841
10                   1139
11                    396
12                    223
13                    142
14                    916
15                     75
16                     40
17                     20
18                     35
19                     22
20                     14
21                     71
22                     14
23                      8
24                      6
25                     37
26                      6
27                      5
28                     35
29                     14
30                     13
33                      3
34                      1
35                      5
38                      1
42                      4
43                      1
45                      1
46                      1
48                      1
49                      1
56                      2
57                      1
60                      1
69                      1

In [56]:
df["phone-number"].value_counts()

669-792-1661    1
951-326-6252    1
446-228-8858    1
325-224-7726    1
450-566-4040    1
               ..
195-321-7724    1
783-942-7089    1
425-944-8128    1
895-951-9632    1
422-804-6403    1
Name: phone-number, Length: 119390, dtype: int64